
@media (max-width: 1024px){
    .cabecalho{
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }

}


@media (max-width: 1030px){
    .compre-ja .cartao{
        width: 100%;
    }
}

@media (max-width: 768px){
    .compre-ja .cartao{
        width: 100%;   
    }

    .compre-ja .informacoes h3{
        font-size: 35px;
    }

    .compre-ja .informacoes .plataformas{
        flex-direction: column;
    }

    .btn-plataforma{
        margin-top: 15px;
        padding: 15px;
        width: 100%;
    }

    .btn-comprar{
        width: 100%;
    }

}

@media (max-width: 481px){
    .plataformas li{
        display: flex;
        justify-content: center;
        flex-direction: column;
              
    }

    .informacoes .plataformas img{
        width: 100%;
        padding: 10px;
        
    }
        
}

@media (max-width: 405px){
    .compre-ja .capa-do-jogo{
        width: 190%;
    }

    .btn-plataforma .plataformas li{
        width: 110%;
               
    }
}

